In [1]:
import pandas as pd
import numpy as np

In [2]:
six_year = pd.read_excel('6 Year.xlsx')

In [3]:
six_year.head()

,Institution,Six Year Graduation and Persistence - Total - Same Institution,Six Year Graduation and Persistence - Total - Same Institution.1,Six Year Graduation and Persistence - Total - Same Institution.2,Six Year Graduation and Persistence - Total - Same Institution.3,Six Year Graduation and Persistence - Total - Same Institution.4,Six Year Graduation and Persistence - White - Same Institution,Six Year Graduation and Persistence - White - Same Institution.1,Six Year Graduation and Persistence - White - Same Institution.2,Six Year Graduation and Persistence - White - Same Institution.3,...,Six Year Graduation and Persistence - Asian - Same Institution,Six Year Graduation and Persistence - Asian - Same Institution.1,Six Year Graduation and Persistence - Asian - Same Institution.2,Six Year Graduation and Persistence - Asian - Same Institution.3,Six Year Graduation and Persistence - Asian - Same Institution.4,Six Year Graduation and Persistence - Other - Same institution,Six Year Graduation and Persistence - Other - Same institution.1,Six Year Graduation and Persistence - Other - Same institution.2,Six Year Graduation and Persistence - Other - Same institution.3,Six Year Graduation and Persistence - Other - Same institution.4
0,NaN,(FY 2009),(FY 2010),(FY 2011),(FY 2012),(FY 2013),(FY 2009),(FY 2010),(FY 2011),(FY 2012),...,(FY 2009),(FY 2010),(FY 2011),(FY 2012),(FY 2013),(FY 2009),(FY 2010),(FY 2011),(FY 2012),(FY 2013)
1,The University of Texas at Arlington,0.423,0.484,0.478,0.459,0.452,0.404,0.479,0.457,0.418,...,0.476,0.592,0.562,0.53,0.573,0.261,0.384,0.433,0.482,0.427
2,The University of Texas at Austin,0.821,0.818,0.819,0.804,0.808,0.844,0.846,0.852,0.832,...,0.867,0.857,0.85,0.843,0.845,0.59,0.667,0.66,0.733,0.667
3,The University of Texas at Brownsville,0,0,0,0,0.475,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.306
4,The University of Texas at Dallas,0.655,0.662,0.638,0.662,0.674,0.658,0.635,0.623,0.637,...,0.762,0.769,0.742,0.742,0.734,0.429,0.707,0.722,0.667,0.794

In [4]:
six_year_col = ['Institution','Total 2009','Total 2010','Total 2011','Total 2012','Total 2013',
          'White 2009','White 2010','White 2011','White 2012','White 2013',
          'African American 2009','African American 2010','African American 2011','African American 2012','African American 2013',
          'Asian 2009','Asian 2010','Asian 2011','Asian 2012','Asian 2012',
          'Other 2009','Other 2010','Other 2011','Other 2012','Other 2013',
         ]

In [5]:
six_year.columns = six_year_col

In [6]:
six_year = six_year.drop(six_year.index[0])

In [8]:
six_year = six_year.reset_index()

In [10]:
six_year.drop('index',axis=1,inplace=True)

In [13]:
six_year.head()

,Institution,Total 2009,Total 2010,Total 2011,Total 2012,Total 2013,White 2009,White 2010,White 2011,White 2012,...,Asian 2010,Asian 2011,Asian 2012,Asian 2012,Other 2009,Other 2010,Other 2011,Other 2012,Other 2013,Non-URM 2009
0,The University of Texas at Arlington,0.423,0.484,0.478,0.459,0.452,0.404,0.479,0.457,0.418,...,0.592,0.562,0.53,0.573,0.261,0.384,0.433,0.482,0.427,0.88
1,The University of Texas at Austin,0.821,0.818,0.819,0.804,0.808,0.844,0.846,0.852,0.832,...,0.857,0.85,0.843,0.845,0.59,0.667,0.66,0.733,0.667,1.711
2,The University of Texas at Brownsville,0,0,0,0,0.475,0,0,0,0,...,0,0,0,0,0,0,0,0,0.306,0
3,The University of Texas at Dallas,0.655,0.662,0.638,0.662,0.674,0.658,0.635,0.623,0.637,...,0.769,0.742,0.742,0.734,0.429,0.707,0.722,0.667,0.794,1.42
4,The University of Texas at El Paso,0.48,0.489,0.495,0.504,0.524,0.374,0.391,0.469,0.484,...,0.565,0.6,0.55,0.667,0.553,0.536,0.607,0.599,0.608,0.874

In [12]:
six_year['Non-URM 2009'] = six_year['White 2009'] + six_year['Asian 2009']

In [16]:
six_year[six_year.columns.str.contains('2011')]

ValueError: Item wrong length 27 instead of 41.